/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*CSS RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: black;
  margin: 0;
  padding: 3;
}

footer {
  text-align: center;
  background-color: white;
  padding: 0.7rem;
}

.product-name {
  text-align: center;
  color: antiquewhite;
}

.background-image {
  background-image: url("./images/background-gradient.jpg") ;
}

#picture1 {
  background-image: url("./images/179921_2020.jpg") ;
  background-repeat : no-repeat;
  background-size: contain;
  
  min-height: 30vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  resize: both;
}

#picture2 {
  background-image: url("./images/imagesWinLaptop.jpg") ;
  background-repeat : no-repeat;
  background-size: contain;
  
  min-height: 30vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  resize: both;
}

#picture3 {
  background-image: url("./images/realistic-cyber-monday-landing-page-template_23-2149100703.jpg") ;
  background-repeat : no-repeat;
  background-size: contain;
  border-color: white;
  min-height: 30vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  resize: both;
  
}

.cardHighlight {
  min-height: 100%;
}

.login {
  background-color:aqua;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
  margin-top: -30px; /* half of the elements height */
  margin-right: -30px; /* half of the elements width */
}